<h1>I'm the homepage</h1>

<div class="row">
  <div class="col-sm-8 offset-sm-2 align-self-center">
    <form id="login-form">
      <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input
          type="email"
          class="form-control"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
          placeholder="Enter email"
        />
        <small id="emailHelp" class="form-text text-muted">We'll never share
          your email with anyone else.</small>
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input
          type="password"
          class="form-control"
          id="exampleInputPassword"
          placeholder="Password"
        />
      </div>
      <button type="submit" form="login-form" class="btn btn-primary">Login</button>
      <p class="signup-link"><a href="/sign-up">Sign up instead</a></p>
    </form>

  </div>
</div>