<h1 class="cp-title">Welcome to Coding-Compass</h1>
<h4 class="cp-description">This website is designed to allow you to look up potential Coding bootcamps
to compare them with others to see which is the best for you.</h4>

<div class="row">
  <div class="col-sm-8 offset-sm-2 align-self-center">
    <form id="login-form">
      <div class="form-group">
        <label for="email-login">Email address</label>
        <input
          type="email"
          class="form-control"
          id="email-login"
          aria-describedby="emailHelp"
          placeholder="Enter email"
        />
        <small id="emailHelp" class="form-text text-muted">We'll never share
          your email with anyone else.</small>
      </div>
      <div class="form-group">
        <label for="password-login">Password</label>
        <input
          type="password"
          class="form-control"
          id="password-login"
          placeholder="Password"
        />
      </div>
      <button type="submit" form="login-form" class="btn btn-primary">Log in</button>
      <p class="signup-link">New User?   <a href="/sign-up">Sign up to add a review or rating</a></p>
    </form>

  </div>
</div>

{{!-- <script src="/javascript/login.js"></script> --}}