<div class="row">
  <div class="col-sm-8 offset-sm-2 align-self-center">
    <form id="login-form">
      <div class="form-group">
        <label for="email-login">Email address</label>
        <input
          type="email"
          class="form-control"
          id="email-login"
          aria-describedby="emailHelp"
          placeholder="Enter email"
        />
        <small id="emailHelp" class="form-text text-muted">We'll never share
          your email with anyone else.</small>
      </div>
      <div class="form-group">
        <label for="password-login">Password</label>
        <input
          type="password"
          class="form-control"
          id="password-login"
          placeholder="Password"
        />
      </div>
      <button type="submit" class="btn btn-primary">Log In</button>
    </form>

  </div>
</div>

<script src="/javascript/login.js"></script>