<h2></h2>

<div class="row">
  <div class="col-sm-8 offset-sm-2 align-self-center">
    <form id="signup-form">
      <div class="form-group">
        <label for="username-signup">Username</label>
        <input
          type="name"
          class="form-control"
          id="username-signup"
          aria-describedby="inputName"
          placeholder="Enter User Name"
        />
      </div>
      <div class="form-group">
        <label for="email-signup">Email address</label>
        <input
          type="email"
          class="form-control"
          id="email-signup"
          aria-describedby="emailHelp"
          placeholder="Enter email"
        />
        <small id="emailHelp" class="form-text text-muted">We'll never share
          your email with anyone else.</small>
      </div>
      <div class="form-group">
        <label for="password-signup">Password</label>
        <input
          type="password"
          class="form-control"
          id="password-signup"
          placeholder="Password"
        />
      </div>

      <button type="submit" class="btn btn-primary">Sign up</button>
    </form>
  </div>
</div>

<script src="/javascript/sign-up.js"></script>