:root {
  --primary-color: rgb(117, 28, 116);
  --secondary-color:rgb(208, 255, 0);

  --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    --font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
}
html,
body {
  height: 100%;
}
body {
  display:flex;
  flex-direction: column;
}

.navbar-style {
  background-color: var(--primary-color);
}

.navbar-brand{
  font-weight: bold;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;

}
input.searchInput{
  color:darkgray;
  font-style: italic;
}

.cp-title {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  font-weight: 400;
}

.cp-results{
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.cp-description {
  font-weight: 300;
  margin-top: 2rem;
  margin-bottom: 2rem;
  color: var(--indigo);
}

.signup-link{
  margin-top: 1rem;
  font-weight: bold;
}

#sticky-footer {
  flex-shrink: 0;
}

main {
  flex: 1 0 auto;
}

 small {
     color: white;
 }
