html,
body {
  height: 100%;
}
#body-container {
  overflow: auto;
  padding-bottom: 200px;
}
/* 
#content-wrap {
  padding-bottom: 2.5rem;
}
*/
#footer {
  position: relative;
  margin-top: -60px;
  /* negative value of footer height */
  height: 60px;
  clear: both;
}
small {
  color: white;
}
